.thumbnail__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail__title {
  color: var(--neutral-200);

  font-size: 2.875rem;
  line-height: 3.5rem;
  letter-spacing: -2%;
}

.thumbnail__heading {
  color: var(--neutral-200);
  text-transform: uppercase;
  margin-top: 1.5rem;
  font-weight: 700;
}

.thumbnail__description {
  color: var(--neutral-300);
}

.thumbnail__photo img {
  width: 100%;
  display: flex;
  margin: auto;
  padding-right: 5vw;
}

.thumbnail__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: calc(10vw + 100px);

  width: 60%;
}

.tool {
  display: flex;
  gap: 16px;
}

.tool img {
  height: 48px;
  border-radius: 12px;
}

.tag {
  background: rgba(255, 198, 60, 0.35);
}

header {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 198, 60, 0.15);
}

ul li {
  display: flex;
  align-items: center;
}

ul li svg {
  transform: scale(0.7);
  margin-right: 8px;
}

ul li path {
  stroke: none;
  fill: #14ae5c;
}

/* .scope {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
} */

/* .scope > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  margin-top: 1rem;
} */

section:nth-child(even) {
  background-color: rgba(255, 198, 60, 0.1);
}
section .content {
  width: 50%;
  margin-right: 15vw;
}

section .photo {
  display: flex;
  align-items: center;
  justify-items: center;

  width: 50%;
}

section .photo img {
  flex: 1;
}

.photo img {
  width: 50%;
  height: 50%;
}

section {
  height: auto;
  padding: 5vh 15vw 5vh calc(15vw + 100px);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
}

section > div {
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 1rem;

  width: 100%;
  margin-bottom: 2rem;
}

li {
  padding: 0.5rem 0;
}

.heading {
  color: rgba(255, 198, 60, 0.4);
}

.subheading {
  margin: 3rem 0 1rem 0;
}

.mySlides {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mySlide img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 2rem 0;

  width: 100%;
  min-height: 320px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  background-color: #f1f1f1;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}

.data-container,
.image__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;

  gap: 2.5rem;
  position: relative;
}

.data-item {
  /* padding: 20px; */
  font-size: 30px;
  text-align: center;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  height: auto;
  width: 300px;
}

.image__container {
  gap: 2rem;
  margin: 1rem 0;
}

.highlightedNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;

  color: #2a9d60;
  font-size: 3rem;
}

.highlightedText {
  color: var(--neutral-100);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: auto;
}

.value-proposition .flex-center {
  max-width: 180px;
}

.value-proposition .flex-center img {
  width: 80px;
}

@media only screen and (max-width: 600px) {
  header {
    width: auto;
    flex-direction: column;
    padding: 32px;
    height: auto;
  }

  .content,
  section {
    padding: 20px;
  }
  .thumbnail__content {
    padding: 0;
    width: 100%;
  }
  .thumbnail__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;

    height: auto;
    margin: 20px 0;
  }

  .thumbnail__title {
    font-size: 1.875rem;
    line-height: 2.375rem;
    letter-spacing: -2%;
  }

  /* section .content {
    width: 100%;
    margin: 0;
  }
  section .photo {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  .data-item {
    width: 100%;
  }
}
