.thumbnail__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail__title {
  margin-bottom: 1.5rem;
  color: var(--neutral-200);
}

.thumbnail__heading {
  color: var(--neutral-200);
  text-transform: uppercase;
  margin-top: 1.5rem;
  font-weight: 700;
}

.thumbnail__description {
  color: var(--neutral-300);
}

.thumbnail__photo img {
  width: 100%;
  display: flex;
  margin: auto;
  padding-right: 5vw;
}

.thumbnail__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: calc(10vw + 100px);

  width: 60%;
}

.tool {
  display: flex;
  gap: 16px;
}

.tool img {
  height: 48px;
  border-radius: 12px;
}

.tag {
  background: rgba(255, 198, 60, 0.35);
}

header {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 198, 60, 0.15);
}

ul li {
  display: flex;
  align-items: center;
}

ul li svg {
  transform: scale(0.7);
  margin-right: 8px;
}

ul li path {
  stroke: none;
  fill: #14ae5c;
}

/* .scope {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
} */

/* .scope > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  margin-top: 1rem;
} */

section:nth-child(even) {
  background-color: rgba(255, 198, 60, 0.1);
}
section .content {
  width: 50%;
  margin-right: 15vw;
}

section .photo {
  display: flex;
  align-items: center;
  justify-items: center;

  width: 50%;
}

section .photo img {
  flex: 1;
}

.photo img {
  width: 50%;
  height: 50%;
}

section {
  height: auto;
  padding: 5vh 15vw 5vh calc(15vw + 100px);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
}

section > div {
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 1rem;

  width: 100%;
  margin-bottom: 2rem;
}

li {
  padding: 0.5rem 0;
}

.heading {
  color: rgba(255, 198, 60, 0.4);
}

.subheading {
  color: var(--neutral-200);
  margin: 3rem 0 1rem 0;
}

.subheading-sm {
  color: var(--neutral-300);
  margin: 0;
}

.highlight-number {
  width: 52px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;

  background-color: white;
  border-radius: 52px;
  color: #2a9d60;
  font-size: 1rem;
}

.mySlides {
  display: none;
}
.mySlide img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  background-color: #f1f1f1;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}
@media only screen and (max-width: 600px) {
  .content,
  section {
    padding: 20px;
  }
  .scope {
    padding: 0;
  }
  section {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 20px 0;
  }
  header {
    height: auto;
    margin: 20px 0;
  }
  section .content {
    width: 100%;
    margin: 0;
  }
  section .photo {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
