h4 {
  margin-bottom: 1.5rem;
}

h6 {
  margin: 0.5rem 0;
}

.tool {
  /* display: flex; */
  gap: 12px;
}

.tool img {
  height: 52px;
  border-radius: 12px;
}

.tag {
  font-size: 0.975rem;
  line-height: 1.5rem;

  padding: 8px 12px;
  border-radius: 8px;
  margin-right: 8px;

  background: rgba(255, 198, 60, 0.3);
}

/* nav starting */

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100px;
  height: 100vh;
  position: fixed;
}

a {
  display: flex;
  align-items: center;

  width: 48px;
  height: 48px;
  margin: 12px;
}

/* nav end */

header {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 198, 60, 0.15);
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

header h6 {
  font-weight: 600;
}

#hero img {
  width: 100%;
  display: flex;
  margin: auto;
  padding-right: 5vw;
}

header .content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: calc(5vw + 100px);

  width: 60%;
}

ul li {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  /* margin: 0.75rem 0; */
}

ul li svg {
  transform: scale(0.7);
  margin-right: 8px;
}

ul li path {
  stroke: none;
  fill: #14ae5c;
}

.scope {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.scope > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  margin-top: 1rem;
}

section .content {
  width: 50%;
  margin-right: 15vw;
}

section .photo {
  display: flex;
  align-items: center;
  justify-items: center;

  width: 50%;
}

section .photo img {
  flex: 1;
}

.photo img {
  width: 50%;
  height: 50%;
}

section {
  height: auto;
  padding: 10vh 10vw 10vh calc(10vw + 100px);

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

li {
  padding: 0.75rem 0;
  list-style: none;
}

@media only screen and (max-width: 600px) {
  .content,
  section {
    padding: 20px;
  }
  .scope {
    padding: 0;
  }
  section {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 20px 0;
  }
  header {
    height: auto;
    margin: 20px 0;
  }
  section .content {
    width: 100%;
    margin: 0;
  }
  section .photo {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
