html {
  scroll-behavior: smooth;
}

/* header starting */

header,
footer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;

  padding: 0 5vw 0 calc(5vw + 100px);
}

footer {
  justify-content: center;
  flex-direction: column;
}

.location {
  display: flex;
  align-items: center;
}

.location__content {
  font-weight: 400;
  color: var(--neutral-200);
}

.location svg {
  margin-right: 8px;
}

.hello {
  margin-bottom: 20px;
}

.hello__title,
.hello__text {
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 5.625rem;
  letter-spacing: -2%;

  font-size: clamp(3rem, 5.25vw, 4.5rem);
}

.hello__text {
  /*! animating-gradients ==> text */
  background-image: var(--gradient);
  background-clip: text;

  /* for chrome */
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: animation 5s infinite alternate;
}

@keyframes animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.hello__description {
  font-weight: normal;
  color: var(--neutral-200);
}

/* header end */

/* card starting */

section {
  padding: 0 5vw 0 calc(5vw + 100px);
}

.card__container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 20px;
  height: 80%;
  width: 100%;

  display: flex;
  align-items: center;
  overflow: hidden;
}

.card__timeline {
  color: var(--neutral-50);
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.card__content {
  width: 30%;
  margin-left: 80px;
}

.card__title {
  color: var(--neutral-200);
  font-weight: 700;
}

.card__description {
  color: var(--neutral-300);
}

.card__photo {
  width: 70%;
}

.card__photo img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  transition: all 0.5s;
}

.card__photo img:hover {
  max-width: 110%;
  max-height: 110%;
}

.e-learning-ui-kit {
  background: rgba(229, 109, 69, 0.1);
}

.tinkdy {
  background: rgba(19, 206, 102, 0.15);
}

.vietjet {
  background: rgba(237, 55, 41, 0.1);
}

.charity {
  background: rgba(255, 198, 60, 0.15);
}

.tinkdy .tag {
  background: rgba(19, 206, 102, 0.3);
}

.vietjet .tag {
  background: rgba(237, 55, 41, 0.15);
}

.charity .tag {
  background: rgba(255, 198, 60, 0.3);
}

ul li {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;

  color: var(--neutral-300);
}

ul li svg {
  transform: scale(0.7);
  margin-right: 8px;
}

ul li path {
  stroke: none;
  fill: #e56e44;
}

/* card ending */

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  header {
    height: auto;
    flex-direction: column;
    padding: 32px;
  }

  footer {
    padding: 0;
  }

  .card {
    border-radius: 20px;
    height: auto;
    width: 90%;
    padding: 52px 32px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column-reverse;
  }
  .card__container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card .card__content {
    width: 100%;
  }

  .card__content {
    margin-left: 0;
  }

  .card .card__photo {
    margin-bottom: 20px;
    width: 100%;
  }

  section {
    padding: 0 2vw;
  }
}
